<div class="row">
  <div class="col-sm-12 col-md-6 mx-auto">
    <h1 class="text-center my-5">{{ title }}</h1>

    <form name="signUpForm" #f="ngForm" (ngSubmit)="signUp(f)">
      <div class="form-group">
        <label for="name">Nome</label>
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          ngModel
          minlength="4"
          maxlength="32"
          #name="ngModel"
          required
        />

        <div *ngIf="name.invalid && name.dirty" class="my-2">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="name?.errors.required"
          >
            Il campo nome è obbligatorio!
          </div>

          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="name?.errors.minlength"
          >
            La lunghezza minima del campo nome è di
            {{ name?.errors.minlength.requiredLength }} caratteri!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          ngModel
          minlength="8"
          maxlength="32"
          #email="ngModel"
          email
          required
        />

        <div *ngIf="email.invalid && email.dirty" class="my-2">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="email?.errors.required"
          >
            Il campo email è obbligatorio!
          </div>

          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="email?.errors.email"
          >
            Il valore del campo email deve avere un valore email valido!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          ngModel
          minlength="8"
          #password="ngModel"
          required
        />

        <div *ngIf="password.invalid && password.dirty" class="my-2">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="password?.errors.required"
          >
            Il campo password è obbligatorio!
          </div>

          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="password?.errors.minlength"
          >
            La lunghezza minima del campo password è di
            {{ password?.errors.minlength.requiredLength }} caratteri!
          </div>
        </div>
      </div>

      <div class="form-group text-center">
        <button type="submit" [disabled]="!f.valid" class="btn btn-success">
          Registrati
        </button>
      </div>
    </form>
  </div>
</div>
